In [2]:
import pandas as pd

In [19]:
words = pd.read_json("./words_dictionary.json", orient='index')

In [22]:
allwords = pd.DataFrame(words.index)

In [23]:
allwords

                   0
0                  a
1                 aa
2                aaa
3                aah
4              aahed
...              ...
370096  zwinglianism
370097  zwinglianist
370098       zwitter
370099    zwitterion
370100  zwitterionic

[370101 rows x 1 columns]

In [34]:
test_str=allwords.iloc[20][0]
all_freq={}
for i in test_str: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1

In [35]:
all_freq

{'a': 3, 'r': 1, 'o': 1, 'n': 1, 'i': 1, 'c': 1, 'l': 1}

In [69]:
alpha = 'a'
test_list=[]
diction={}
for i in range(0, 26): 
    test_list.append(alpha) 
    alpha = chr(ord(alpha) + 1) 
for i in test_list:
    diction[i]=test_str.count(i)
data = pd.DataFrame.from_dict(diction, orient='index')

df1_transposed = data.T 
test_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [101]:
alpha = 'a'
test_list=[]

for i in range(0, 26): 
    test_list.append(alpha) 
    alpha = chr(ord(alpha) + 1) 
main_df=pd.DataFrame()
for word in allwords.values:
    diction={}
    for i in test_list:
        diction[i]=test_str.count(i)
    data = pd.DataFrame.from_dict(diction, orient='index')
    df1_transposed = data.T 
    df1_transposed["name"] = word
    main_df=main_df.append(df1_transposed, ignore_index=True)

In [102]:
main_df

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,name
0,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,a
1,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aa
2,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aaa
3,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aah
4,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aahed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370096,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwinglianism
370097,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwinglianist
370098,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitter
370099,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitterion
370100,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitterionic

In [106]:
main_df.to_csv("text_words")

In [104]:
main_df.append(main_df, ignore_index=True)

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,name
0,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,a
1,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aa
2,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aaa
3,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aah
4,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,aahed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740197,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwinglianism
740198,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwinglianist
740199,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitter
740200,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitterion
740201,3,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,zwitterionic

In [93]:
main_df

Empty DataFrame
Columns: []
Index: []